/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-color: whitesmoke;
}

.container{
    max-width: 940px;
}
     
.pointer{
    cursor: pointer;
}

.main-container{
    width: 100%;
    display: inline-flex;
    .main-left{
        width: 70%;
        padding: 5px;
    }
    .main-right{
        width: 30%;
        padding: 5px;
    }
}